body {
    /* padding top so items are not behind the navbar */
    padding-top: 6.5rem;
}


button.navbar-toggler {
    position: absolute !important;
    right: 10px !important;
}

.navBarText{
    font-size: 20px;
}

.navBarImage{
    height: 2rem !important;
}

/* For anything bigger than 576px */
@media (min-width: 576px) { 
    .navBarText{
        font-size: 40px;
    }

    .navBarImage{
        height: 3.5rem !important;
    }
}
