body {
    /* padding top so items are not behind the navbar */
    padding-top: 6.5rem;
}


button.navbar-toggler {
    position: absolute !important;
    right: 10px !important;
}

@media (min-width: 800px) {
    .jumbotron{
        height: 95%;
    }
  }

